@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

:root {
    font-family: Helvetica, Arial, sans-serif;
}


body::-webkit-scrollbar {
    width: 1rem;
}

body::-webkit-scrollbar-track {
    background: #fff;
}

body::-webkit-scrollbar-thumb {
    background: #2C3E50;
}

form { max-width:420px; margin:50px auto; }

.form-control{
  font-weight:  500;
  margin-bottom: 15px;
}
.modal{
  max-height: 40vh;
}

.modal-body {
    height: 60vh;
    overflow-y: auto;
}
